@model List<DadosLivro>


<a asp-controller="Livro" class="btn btn-outline-success col-md-2" asp-action="CadastrarLivro">Cadastrar</a>
<br /><br />
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-dark">
            <th>Titulo</th>
            <th>Editora</th>
            <th>Data de publicação</th>
            <th>Autor</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DadosLivro item in Model)
        {
            <tr class="table-success">
                <td>@item.Title</td>
                <td>@item.Publisher</td>
                <td>@item.PublishedDate</td>
                <td>@item.Autor</td>
                <td>@item.Status</td>


                <td>
                    <a class="btn btn-danger" asp-action="RemoverLivro" asp-route-id="@item.DadosLivroId">Remover</a>
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="EditarLivro" asp-route-id="@item.DadosLivroId">Alterar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
