@model List<ReservaLivro>

<br /><br />
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-dark">
            <th>Idcliente</th>
            <th>IdLivro</th>
            <th>Data inicial</th>
            <th>Data final</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReservaLivro item in Model)
        {
        <tr class="table-success">
            
            <td>@item.ClienteId</td>
            <td>@item.DadosLivro.DadosLivroId </td>
            <td>@item.DataReservaLivro</td>
            <td>@item.DataDevolucaoLivro</td>

            <td>
      
                <a asp-action="DevolverReserva" class="btn btn-outline-info form-control col-md-3" style="margin-left:10px;" asp-controller="Devolucao" asp-route-id="@item.IdReservaLivro">Devolução</a>
            </td>
        </tr>
        }
    </tbody>
</table>

