@model DadosLivro

    <H2><label style="color:darkorange; margin-left:10px"><b><u>Detalhes do Livro:</u></b></label></H2>
    <br />

    <a asp-action="ListarLivro" class="btn btn-danger form-control col-md-2" style="margin-left:0px" align-items="center;" asp-controller="Cliente">Voltar</a><br />

<br />
    <form method="post">
        <input type="hidden" asp-for="DadosLivroId" />
    </form>
    <table>

        <tr>
            <td>
                <img src="~/livrariaimagens/@Model.Imagem" class="rounded" style="width:184px;height:284px" />
            </td>
            <td style="vertical-align:top;padding-left:10px">
                <br />

                <b style="color:white"><u>Título:</u></b>
                <p style="color:white">@Model.Title</p>
                <b style="color:white"><u>Autor:</u></b>
                <p style="color:white">@Model.Autor</p>
                <b style="color:white"><u>Editora:</u></b>
                <p style="color:white">@Model.Publisher</p>
                <b style="color:white"><u>Data de publicação:</u></b>
                <p style="color:white">@Model.PublishedDate</p>
                <b style="color:white"><u>Resumo:</u></b>
                <p style="color:white">@Model.Description</p>

            </td>
        </tr>
    </table>
    <br />
    <form>
        <a asp-action="ReservaLivro" class="btn btn-success form-control col-md-2" style="text-align" asp-controller="ReservaLivro">Reservar</a>
    </form>


    <style>
        body {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(https://i.imgur.com/u9sUbQi.jpg) no-repeat center center fixed;
            background-size: cover;
            background-position: center;
            -webkit-filter: blur(px);
        }
    </style>