@model List<DadosLivro>

<H2><label style="color:darkorange; margin-left:10px"><b><u>Livros Disponíveis: </u></b></label></H2>
<br />
<div id="Categorias">
    <ul class="pagination pagination-lg justify-content-center" style="margin:20px 0">
        @foreach (GeneroLivro item in ViewBag.Generos)
        {
            <li class="page-item" >
                <a class="page-link" asp-action="ListarLivro" asp-controller="Cliente" asp-route-id="@item.GeneroLivroId">
                    @item.Nome
                </a>
            </li>
        }
    </ul>
</div>
<div class="row" id="Dados">
    @foreach (DadosLivro item in Model)
    {

        <div class="col-md-3" style="text-align:center; margin-bottom:15px">
            <a asp-action="Detalhes" asp-controller="Cliente" asp-route-id="@item.DadosLivroId">
                <img src="~/livrariaimagens/@item.Imagem"style="width:184px;height:284px" class="img-thumbnail" /><br />
            </a>
            <a asp-action="Detalhes" asp-controller="Cliente" asp-route-id="@item.DadosLivroId"></a>
            <br />
            <span  style="color:white"><U><b>@item.Title</b></U></span><br />

        </div>
    }
</div>

<style>
    body {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(https://i.imgur.com/u9sUbQi.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position: center;
        -webkit-filter: blur(px);
    }
</style>