@model List<ReservaLivro>

<form>
    <H2><label style="color:darkorange; margin-left:10px"><b><u>Histórico de Reservas:</u></b></label></H2>
    <br />
    <br />
</form>
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-dark">
            <th>IdCliente</th>
            <th>Cliente</th>
            <th>LivroId</th>
            <th>Livro</th>
            <th>Autor</th>       
            <th>IdReserva</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReservaLivro item in Model)
        {
        <tr class="table-success">
            <td>@item.Cliente.ClienteId </td>
            <td>@item.Cliente.Nome </td>
            <td>@item.DadosLivro.DadosLivroId </td>
            <td>@item.DadosLivro.Title </td>
            <td>@item.DadosLivro.Autor </td>
            <td>@item.IdReservaLivro </td>

        </tr>
        }
    </tbody>
</table>
<style>
    body {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(https://i.imgur.com/u9sUbQi.jpg) no-repeat center center fixed;
        background-size: cover;
        background-position: center;
        -webkit-filter: blur(px);
    }
</style>
